@media (width <= 830px) {
  .welcomeContainer {
    gap: 1rem;
    padding: 0 10px;
  }
  .welcomeHeading {
    font-size: 3.5rem;
  }

  .welcomeContainer > p {
    font-size: 2rem;
  }
  .welcomeContainer > .intro {
    font-size: 4rem;
  }
}

@media (width <= 565px) {
    .welcomeContainer {
      gap: 0.5rem;
      padding: 0 10px;
    }
    .welcomeHeading {
      font-size: 3rem;
    }
  
    .welcomeContainer > p {
      font-size: 1.6rem;
    }
    .welcomeContainer > .intro {
      font-size: 3rem;
    }
  }
  